
.content-container{
  width:80%;
  margin: auto;
  padding: 20px;

}

.top-section{
  color:#32575A ;
  font-family: Playfair Display;
  font-size:32px;
  line-height: 42.px;
  

}

.sub-heading h2, .sub-heading h3 {
  font-family: 'Playfair Display';
  font-size: 32px;
  line-height: 42px;
  color: #1A202C;
  font-style: italic;
 
}

.mid-section{
  font:Playfair Display;
  font-style: italic;
  color: #32575A;
  padding: 4px 40px;
  line-height: 32px;
  font-size: 24px;
  border-radius: 8px;
  justify-content: space-between;
 
}
.mid-section h2{
  background-color:#DAECF1 ;
 padding:4px 40px;
}

.mid-section p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #4A5568;
  line-height: 22px;
 
}
